/* CSS for Body Element */
body {
    background-image: url("../img/secret.jpg");
    background-size: cover;
    font-size: 1.5em;
}

/* CSS for Title Element */
h1 {
    font-size: 5em;
    letter-spacing: 25px;
    color: rgba(190, 11, 11, 0.897);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 20px;
    text-transform: uppercase;
}

/* CSS for Input Element */
input {
    opacity: 0.4;
    border: 1px solid black;
}

/* Css for Form Divs */
#encrypt, #decrypt  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

/* Css for Print to DOM Divs */
#encrypted, #derypted {
    align-items: center;
    justify-content: center;
    margin: 25px;
}